header {
    grid-area: header;
    background-color: cornflowerblue;
    padding: 20px;
  }
  header  h3 {
      color: white;
  }
  .content {
    grid-area: content;
    background-color: cornflowerblue;
    padding: 20px;
  }
  aside {
    grid-area: sidebar;
    background-color: cornflowerblue;
  }

  .wrapper {
    height: 98vh;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
      "header  header"
      "sidebar content"
     ;
  }


  .side-menu a {
      text-decoration: none;
      color: white;

  }
  .side-menu  {
      padding: 20px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-flow: column;
     gap: 5px 0px;
  }
  .side-menu > div {
      width: 100%;
      padding:10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;
  }

.side-menu > .link-active {
    background-color: #20bf6b;
}

.register-form form {
    display: flex;
    flex-flow: column;
    gap: 10px 0px;
}
.register-form form input {
   width: 30%;
}
.course-wrapper {
    width: 30%;
}

.store-btn-wrapper {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}
.form-error {
    color: red;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}
td{
    padding: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
td:last-child{
  border-right: none;
}


@media (max-width: 500px) {
    .wrapper {
      grid-template-columns: 4fr;
      grid-template-rows: 1fr 1fr 5fr;
      grid-template-areas:
        "header"
        "sidebar"
        "content"
        ;
    }
    .register-form form input {
        width: 100%;
     }
     .course-wrapper {
         width: 100%;
     }

     .store-btn-wrapper {
         display: flex;
         width: 100%;
         justify-content: flex-end;
     }
  }
